@import url(./reset.css);

body {
  background: linear-gradient(180deg, #FFF 0%, #0FF 100%);
  background-repeat: no-repeat;
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: #00195A;
  font-family: 'Concert One';
  font-size: 123px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input__weather {

}

.input {

}

.input__button {

}